
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/* static/css/base.css  */

html {
    box-sizing: border-box;
  }
  
  /* The Universal Selector */
  *, /* All elements*/
  *::before, /* All ::before pseudo-elements */
  *::after {
    /* All ::after pseudo-elements */
    /* height & width will now include border & padding by default
       but can be over-ridden as needed */
    box-sizing: inherit;
  }
  
  /* resets font size to be 62.5% of the user preference - 
       in most browser configurations this will be 10px */
  :root {
    font-size: 62.5%;
  }
  
  body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Rubik", sans-serif;
    font-size: medium;
    min-height: 100vh;
    color: rgb(245, 245, 245);;
    background-color: #04122d;
    --nav-bg: #0c1443;
    --nav-bg-ff: #04122d;
  }
  
  header {
    width: 100%;
    background: var(--nav-bg-ff); /* rgba(104, 197, 248, .9) */
    border-bottom: var(--borders);
  }
  
  nav {
    margin: 10px;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2e145d;
  }
  
  li {
    font-weight: 600;
    font-size: 16px;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover {
    background-color:#261341;
  }

  #logout-form button {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 600;
    font-size: 16px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 14px 16px;
    font-family: inherit;
  }
  
  #logout-form button:hover {
    background-color:#261341;

  }
  
  p {
    color: white;
  }

  h1 {
    text-align: center;
  }

  h2 {
    color: white;
  }
  .active {
    background-color: green;
  }


.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}
.each-group {
    background-color: #2e145d;
    margin: 1em;
    border: 2px solid black;
    border-radius: 20%;
}.each-group:hover {
    box-shadow: 10px 5px 5px black;
    transition: 0.3s;
}

.circular-image { 
    position: relative; 
    margin: 20px 20px;
    width: 150px; 
    height: 150px; 
    overflow: hidden;
    border-radius: 50%; 

} .circular-image img { 
    width: 100%; 
    height: 100%;
}

.icon {
    font-family: "Rubik", sans-serif;
    font-weight: 600;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: #261341;
    font-size: 50px;
    color: #fff;
    text-align: center;
    line-height: 150px;
    margin: 20px 20px;
} 

a {
    text-decoration: none;
}

h1 {
  font-size: x-large;
  font-weight: bold;
}

.thread-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  border: white solid 2px;
  width: 50rem;
  height: 50rem;
}

.each-thread{
  background-color: #0c1443;
  margin: 1em;
  border: 2px solid white;
}

.thread-name{
  border: white solid 2px;
  width: fit-content;
	margin: 0;
	padding: 0px 0px 6px 0px;
	font-size: 51px;
	line-height: 44px;
	letter-spacing: -2px;
	font-weight: bold;
  background: #261341;
}

.thread-description{
  border: white solid 2px;
  margin-left: 10px;
  margin-right: 10px;
  height: fit-content;
}

