{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/groups/group-detail.css' %}" />
{% endblock %}
{% block content %}

<section>
  <div>
    <section>
        <div >
          {% if not group.image %}
          <div class = "circular-text">
            <p class = "icon">{{group.placeholder}}</p>
          </div>
          <h3>{{group.name}}</h3>
          <p>{{group.description}}</p>
          <div>
            <a href="{% url 'group-update' group.id %}" >Edit</a>
            <a href="{% url 'group-delete' group.id %}" >Delete</a>
          </div>
          {% else %}
            <div class = "circular-image">
                <img style="border-radius: 50%;"src={{group.image.url}} />
            </div>
            <h3>{{group.name}}</h3>
            <p>{{group.description}}</p>
            <p>{{stock_image}}</p>
            <div>
              <a href="{% url 'group-update' group.id %}" >Edit</a>
              <a href="{% url 'group-delete' group.id %}" >Delete</a>
            </div>
          {% endif %}
        </div>
        <div>
          
        </div>
        <div>
          <form action="{% url 'add-thread' group.id %}" method="post" class="subsection-content" autocomplete="off">
            {% csrf_token %} 
            {{ thread_form.as_p }}
            <button type="submit" class="btn submit">Add Thread</button>
        </div>
        <div>
          {% if group.thread_set.all.count %}
            {% for thread in group.thread_set.all %}
              <h3>{{thread.name}}</h3>
              <p>{{thread.description}}</p>
            {% endfor %}
          {% else %}
            <p>{{group.name}} has no active threads!</p>
          {% endif %}
        </div>
    </section>
  </div>
</section>

{% endblock %}