{% extends 'base.html' %}
{% load static %}
{% block head %}
{% endblock %}
{% block content %}

<section>
  <div>
    <section>
        <div >
          {% if not group.image %}
          <div class="container">
              <div class = "circular-text">
                <p class = "icon">{{group.placeholder}}</p>
              </div>
          </div>
          <h3>{{group.name}}</h3>
          <p>{{group.description}}</p>
          {% else %}
          <div>
            <div class="container">
              <div class = "circular-image">
                  <img style="border-radius: 50%;"src={{group.image.url}} />
              </div>
            </div>
            <div class="group-name">
              <h1>{{group.name}}</h1>
            </div>
            <div class="group-description">
              <p>{{group.description}}</p>
            </div>
          </div>
          {% endif %}
          
          
          <div>
            <a href="{% url 'group-update' group.id %}" >Edit</a>
            <a href="{% url 'group-delete' group.id %}" >Delete</a>
          </div>

        </div>
        <div>
          
        </div>
        <div>
          <form action="{% url 'add-thread' group.id %}" method="post" class="subsection-content" autocomplete="off">
            {% csrf_token %} 
            {{ thread_form.as_p }}
            <button type="submit" class="btn submit">Add Thread</button>
        </div>

        <div class = "thread-container">
          {% if group.thread_set.all.count %}
            {% for thread in group.thread_set.all %}
              <div class="each-thread">
                <h3 class="thread-name">{{thread.name}}</h3>
                <p class="thread-description">{{thread.description}}</p>
                <a href="{% url 'thread-update' thread.id %}" >Edit</a>
                <a href="{% url 'thread-delete' thread.id %}" >Delete</a>
              </div>
            {% endfor %}
          {% else %}
            <p>{{group.name}} has no active threads!</p>
          {% endif %}
        </div>
    </section>
  </div>
</section>

{% endblock %}