{% extends 'base.html' %}
{% load static %}
{% block head %}
{% endblock %}
{% block content %}

<section>
  <div>
    <h1>Community Page</h1>
    <section>
        <div class = "container">
            {% for group in groups %}
            <div class = "each-group">
                <a href="{% url 'group-detail' group.id%}">
                    {% if not group.image %}
                        <div class = "circular-text">
                            <p class = "icon">{{group.placeholder}}</p>
                        </div>
                    {% else %}
                        <div class = "circular-image">
                            <img src={{group.image.url}} />
                        </div>
                    {% endif %}
                    <h2>{{group.name}}</h2>
                </a>
            </div>
            {% endfor %}
        </div>
    </section>
  </div>
</section>

{% endblock %}